venv/
.venv/
.idea/
*egg-info/
.eggs/
*pycache*
.vscode/
*.log
*~
tests/data/output
tests/data/freeze
build/
download/
\#*
\.#*
!tests/data/output/bucharest/calibrated/ecmwf/2020/20200402_bucharest_ecmwf.nc
dev.env
