[TYPECHECK]
ignored-modules	= numpy, scipy, netCDF4

[MESSAGES CONTROL]
disable =
  invalid-name,
  missing-function-docstring,
  logging-fstring-interpolation,
  too-many-locals,
  missing-class-docstring,
  missing-class-docstring,
  missing-module-docstring,
  too-few-public-methods,
  too-many-arguments,
  too-many-instance-attributes,
  consider-using-with,
  unspecified-encoding,
  exec-used,
  fixme,
  duplicate-code

[format]
max-line-length = 100

[MASTER]
ignore-paths=^src/test_utils/.*$
